ETHEREUM_MAINNET_RPC=
POLYGON_MAINNET_RPC=
OPTIMISM_MAINNET_RPC=
ARBITRUM_MAINNET_RPC=
BINANCE_MAINNET__RPC=
GNOSIS_MAINNET__RPC=
ARBITRUM_MAINNET_RPC=
BLAST_MAINNET_RPC=

ETHEREUM_GOERLI_RPC=
POLYGON_MUMBAI_RPC=
ARBITRUM_GOERLI_RPC=
OPTIMISM_GOERLI_RPC=

ETHERSCAN_API_KEY=
API_KEY_ARBISCAN=
API_KEY_BASESCAN=
API_KEY_BSCSCAN=
API_KEY_POLSCAN=
API_KEY_GNOSISSCAN=
API_KEY_BLASTSCAN=



DEPLOYER_PRIVATE_KEY=
